
*.xcuserstate

*.xcuserstate

*.pbxproj

SitStay/SitStay.xcodeproj/project.pbxproj

SitStay/SitStay.xcodeproj/project.xcworkspace/xcuserdata/pgilbreth.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcworkspacedata

*.xcscheme

SitStay/SitStay.xcodeproj/xcuserdata/pgilbreth.xcuserdatad/xcschemes/xcschememanagement.plist

*.pbxproj
